# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [94]:
import pandas as pd

In [95]:
data = pd.read_csv('data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [96]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [98]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [99]:
for income_type in data['income_type'].unique():
    data.loc[(data['income_type'] == income_type) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == income_type), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [100]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [101]:
#data.groupby('income_type')['days_employed'].agg(mean='median').astype('int')
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [102]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [103]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [104]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [105]:
for income_type in data['income_type'].unique():
    data.loc[(data['income_type'] == income_type) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[data['income_type'] == income_type, 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [106]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [107]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [108]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [109]:
data.duplicated().sum()

71

In [110]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [111]:
# создайте функцию categorize_income()
def categorize_income(total_income):
    """Функция категоризирует столбец total_income"""
    
    if 0 <= total_income <= 30000:
        return 'E'
    
    if 30001 <= total_income <= 50000:
        return 'D'
    
    if 50001 <= total_income <= 200000:
        return 'C'
    
    if  200001 <= total_income <= 1000000:
        return 'B'
    
    if total_income > 1000001:
        return 'A'

In [112]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [113]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [114]:
# создайте функцию categorize_purpose()
def categorize_purpose(purpose):
    """Функция категоризации по цели кредита purpose"""
    
    if purpose in ['приобретение автомобиля', 'на покупку своего автомобиля', \
    'автомобили', 'сделка с подержанным автомобилем','автомобиль','свой автомобиль', 'сделка с автомобилем' , \
    'на покупку автомобиля', 'на покупку подержанного автомобиля']:
        return 'операции с автомобилем'
    
    if purpose in ['покупка жилья', 'операции с жильем', 'покупка жилья для семьи', 'покупка недвижимости', \
    'покупка коммерческой недвижимости', 'покупка жилой недвижимости', 'строительство собственной недвижимости', \
    'недвижимость', 'строительство недвижимости', 'операции с коммерческой недвижимостью' ,\
    'строительство жилой недвижимости', 'жилье', 'операции со своей недвижимостью', 'покупка своего жилья', \
    'операции с недвижимостью', 'покупка жилья для сдачи', 'ремонт жилью']:
        return 'операции с недвижимостью'
    
    if purpose in ['свадьба' , 'на проведение свадьбы', 'сыграть свадьбу']:
        return 'проведение свадьбы'
    
    if purpose in ['заняться высшим образованием', 'дополнительное образование', 'высшее образование', \
    'получение дополнительного образования', 'образование', 'получение образования' , 'профильное образование', \
    'получение высшего образования','заняться образованием']: 
        return 'получение образования'

In [115]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

In [116]:
def categorize_children(children):
    if children == 0:
        return 'нет детей'
    if children == 1:
        return 'один ребенок в семье'
    if children > 1:
        return 'многодетная семья'
    
children_category = data['children'].apply(categorize_children)
data.insert(1,'children_category', children_category)
data.head()

,children,children_category,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,один ребенок в семье,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,один ребенок в семье,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,нет детей,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,многодетная семья,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,нет детей,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [117]:
data.head(10)

,children,children_category,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,один ребенок в семье,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,один ребенок в семье,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,нет детей,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,многодетная семья,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,нет детей,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,нет детей,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,нет детей,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,нет детей,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,многодетная семья,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,нет детей,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью

In [118]:
data['children'].value_counts()

0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [119]:
debt_data = data[data['debt'] == 1]
debt_data.head(10)

,children,children_category,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
14,0,нет детей,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
32,0,нет детей,4649.910832,34,среднее,1,гражданский брак,1,F,сотрудник,1,139057,на проведение свадьбы,C,проведение свадьбы
38,0,нет детей,597.881827,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247,образование,C,получение образования
55,0,нет детей,365286.622650,54,среднее,1,гражданский брак,1,F,пенсионер,1,118514,сыграть свадьбу,C,проведение свадьбы
75,1,один ребенок в семье,2953.151948,38,среднее,1,женат / замужем,0,M,сотрудник,1,81935,операции с недвижимостью,C,операции с недвижимостью
93,1,один ребенок в семье,1446.622542,32,среднее,1,женат / замужем,0,M,сотрудник,1,331139,сделка с автомобилем,B,операции с автомобилем
100,0,нет детей,605.026441,49,среднее,1,вдовец / вдова,2,F,сотрудник,1,176384,операции с недвижимостью,C,операции с недвижимостью
114,0,нет детей,1599.879161,26,высшее,0,женат / замужем,0,F,сотрудник,1,143471,операции со своей недвижимостью,C,операции с недвижимостью
124,0,нет детей,1080.514782,38,среднее,1,женат / замужем,0,F,сотрудник,1,175046,операции с коммерческой недвижимостью,C,операции с недвижимостью
147,0,нет детей,5772.479896,47,среднее,1,женат / замужем,0,F,госслужащий,1,74535,операции с недвижимостью,C,операции с недвижимостью

In [120]:
debt_data.groupby('children')['debt'].agg(count='count')

          count
children
0          1063
1           444
2           194
3            27
4             4

In [121]:
quantity_data = data.groupby('children')['debt'].agg(quantity='count')

In [122]:
quantity_data.head()

          quantity
children
0            14091
1             4808
2             2052
3              330
4               41

In [123]:
quantity_data.loc[0,:]

quantity    14091
Name: 0, dtype: int64

In [124]:
debt_grouped_data = data.groupby('children')\
    .agg({'debt': lambda x: (x==1).sum() / len(x) * 100})\
    .round(2)\
    .rename(columns={'debt': 'Процент должников, %'})

debt_grouped_data.index.name = 'Количество детей'

debt_grouped_data

                  Процент должников, %
Количество детей
0                                 7.54
1                                 9.23
2                                 9.45
3                                 8.18
4                                 9.76
5                                 0.00

**Вывод:** 
Количество детей практически никак не влияет на возврат клиентом кредита в срок. Меньший процент должников среди бездетных клиентов, может быть обусловлен тем, что таким людям проще выплачить кредиты ввиду отсутствия дополнительной финансовой нагрузки. Также можно отметить, что среди клиентов нет должников с пятью дятьми. Это можно объяснить тем, что их процент в выборке совсем маленький и поэтому нельзя провести детальный анализ этой группы клиентов.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [125]:
data.head(10)

,children,children_category,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,один ребенок в семье,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,один ребенок в семье,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,нет детей,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,многодетная семья,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,нет детей,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,нет детей,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,нет детей,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,нет детей,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,многодетная семья,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,нет детей,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью

In [126]:
family_value_counts = data['family_status'].value_counts()

In [127]:
family_status_percentages = (family_value_counts / (data.shape[0])) * 100
family_status_percentages.round(2)

женат / замужем          57.48
гражданский брак         19.38
Не женат / не замужем    13.11
в разводе                 5.57
вдовец / вдова            4.46
Name: family_status, dtype: float64

In [128]:
debt_data.groupby('family_status')['debt'].count()

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [129]:
data['family_status'].value_counts()

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

In [130]:
family_status_grouped_data = data.groupby('family_status')\
    .agg({'debt': lambda x: (x==1).sum() / len(x) * 100})\
    .round(2)\
    .reset_index()


family_status_grouped_data

           family_status  debt
0  Не женат / не замужем  9.76
1              в разводе  7.06
2         вдовец / вдова  6.62
3       гражданский брак  9.31
4        женат / замужем  7.56

In [131]:
debt_data.shape[0]

1732

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [132]:
data['total_income_category'].value_counts().sort_values()

E       22
A       25
D      349
B     5014
C    15921
Name: total_income_category, dtype: int64

In [133]:
debt_data.groupby('total_income_category')['debt'].agg(count='count')

                       count
total_income_category
A                          2
B                        354
C                       1353
D                         21
E                          2

In [134]:
data.groupby('total_income_category')\
    .agg({'debt': lambda x: (sum(x) / len(x)) * 100})\
    .round(2)\
    .reset_index()\
    .rename(columns={'total_income_category':'Уровент дохода', 'debt':'Задолженность по кредиту'})

  Уровент дохода  Задолженность по кредиту
0              A                      8.00
1              B                      7.06
2              C                      8.50
3              D                      6.02
4              E                      9.09

In [135]:
data['purpose_category'].value_counts()

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

In [136]:
debt_data.groupby('purpose_category')['debt'].count()

purpose_category
операции с автомобилем      400
операции с недвижимостью    780
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

In [137]:
def calculate_percentage(x):
    return (sum(x)/ len(x) * 100)

In [138]:
data.groupby('purpose_category')['debt']\
.apply(calculate_percentage)

purpose_category
операции с автомобилем      9.347978
операции с недвижимостью    7.255139
получение образования       9.252758
проведение свадьбы          7.911803
Name: debt, dtype: float64

In [139]:
data.groupby('family_status')['debt']\
    .apply(calculate_percentage)\
    .round(2)

family_status
Не женат / не замужем    9.76
в разводе                7.06
вдовец / вдова           6.62
гражданский брак         9.31
женат / замужем          7.56
Name: debt, dtype: float64

In [140]:
def calculate_percentage_agg(data, group_column, value_column):
    result = data.groupby(group_column).agg({value_column: lambda x: (sum(x) / len(x)) * 100})\
                     .reset_index()\
                     .round(2)\
                     .rename(columns={group_column: f'{group_column}', value_column: f'{value_column},%'})
    return result

total_income_agg = calculate_percentage_agg(data, 'total_income_category', 'debt')
family_status_agg = calculate_percentage_agg(data, 'family_status', 'debt')

In [141]:
print(total_income_agg)

  total_income_category  debt,%
0                     A    8.00
1                     B    7.06
2                     C    8.50
3                     D    6.02
4                     E    9.09

In [142]:
data['purpose_category'].value_counts()

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

In [143]:
data.head(10)

,children,children_category,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,один ребенок в семье,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,один ребенок в семье,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,нет детей,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,многодетная семья,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,нет детей,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,нет детей,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,нет детей,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,нет детей,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,многодетная семья,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,нет детей,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью

In [201]:
result = data.pivot_table(index='children_category', values='debt', aggfunc=['count', 'sum', 'mean'])\
    .rename(columns={'mean':'Процент должников', 'count':'Количество заемщиков', 'sum': 'Количество должников'})\
    .round(3)
  
result.columns = result.columns.droplevel(level=1)
result['Процент должников'] *= 100
formatted_result = result.to_string(index=True)


print(formatted_result)

                      Количество заемщиков  Количество должников  Процент должников
children_category
многодетная семья                     2432                   225                9.3
нет детей                            14091                  1063                7.5
один ребенок в семье                  4808                   444                9.2

In [208]:
def category_pivot_table(data, group_column, value_column):
    result = data.pivot_table(index=group_column, values=value_column, aggfunc=['count', 'sum', 'mean'])\
    .rename(columns={'mean':'Процент должников', 'count':'Количество заемщиков', 'sum': 'Количество должников'})\
    .round(4)
  
    result.columns = result.columns.droplevel(level=1)
    result['Процент должников'] *= 100
    formatted_result = result.to_string(index=True)
    
    return formatted_result

In [209]:
print(category_pivot_table(data, 'purpose_category', 'debt'))

                          Количество заемщиков  Количество должников  Процент должников
purpose_category
операции с автомобилем                    4279                   400               9.35
операции с недвижимостью                 10751                   780               7.26
получение образования                     3988                   369               9.25
проведение свадьбы                        2313                   183               7.91

In [211]:
print(category_pivot_table(data, 'education', 'debt'))

                     Количество заемщиков  Количество должников  Процент должников
education
высшее                               5227                   278               5.32
начальное                             282                    31              10.99
неоконченное высшее                   741                    68               9.18
среднее                             15075                  1355               8.99
ученая степень                          6                     0               0.00

<div class="alert alert-info"> <b>Комментарий студента:</b> Например, вот так.</div>